@model HelpDeskTicket.Models.TicketModel

@{
    ViewData["Title"] = "MyTickets";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



<div class="container">
    @await Component.InvokeAsync("NavBar")
</div>

<div class="col-md-12">
    <h3 class="title-5 m-b-35">My Tickets</h3>

    <label>
        <select name="example_length" aria-controls="example" class="">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select> Entries
    </label>

    <style>
        .main-content {
            min-height: inherit !important;
        }
    </style>

    <div class="table-responsive table-responsive-data2">
        <table class="table table-data2">
            <thead>
                <tr>
                    <th>name</th>
                    <th>department</th>
                    <th>title</th>
                    <th>date</th>
                    <th>status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr-shadow">
                    <td>Lori Lynch</td>
                    <td>
                        <span class="block-email">HR</span>
                    </td>
                    <td class="desc">Desktop not working</td>
                    <td>2018-09-27 02:12</td>
                    <td>
                        <span class="status--process">Resolved</span>
                    </td>
                </tr>
                <tr class="spacer"></tr>
                <tr class="tr-shadow">
                    <td>Amy Heineman</td>
                    <td>
                        <span class="block-email">IT</span>
                    </td>
                    <td class="desc">Desktop not turning on</td>
                    <td>2018-09-29 05:57</td>
                    <td>
                        <span class="status--process">Resolved</span>
                    </td>
                </tr>
                <tr class="spacer"></tr>
                <tr class="tr-shadow">

                    <td>Dr. Tenma</td>
                    <td>
                        <span class="block-email">Administrative</span>
                    </td>
                    <td class="desc">Blue screen of death</td>
                    <td>2018-09-25 19:03</td>
                    <td>
                        <span class="status--denied">Being Processed</span>
                    </td>
                </tr>
                <tr class="spacer"></tr>
                <tr class="tr-shadow">
                    <td>William Panske</td>
                    <td>
                        <span class="block-email">IT</span>
                    </td>
                    <td class="desc">Blue screen of death</td>
                    <td>2018-09-24 19:10</td>
                    <td>
                        <span class="status--process">Resolved</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

