@{
    ViewData["Title"] = "Landing Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="landing-page-wrapper">
    <div class="card" id="landing-page-my-tickets">
        <div class="card-header">
            <strong>My</strong> Tickets
        </div>
        <button class="btn btn-info btn-sm" style="height: 30.8px; width: 86.6px">Tickets</button>    
    </div>
    <div class="card" id="landing-page-dashboard">
        <div class="card-header">
            <strong>Dashboard</strong>
        </div>
        <button class="btn btn-info btn-sm" style="height: 30.8px; width: 100.6px">Dashboard</button>
    </div>
</div>
