@model HelpDeskTicket.Models.TicketModel

@{
    ViewData["Title"] = "Index";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
    .text-center{
        margin-bottom:50px;
    }
</style>

<div class="container">
    @await Component.InvokeAsync("NavBar")  

    <div class="text-center">
        <h1 class="display-4">Welcome John</h1>
    </div>

    <div class="container" id="dashboard">


        <!--BEGINNING FOUR CARDS CONTAINER-->
        <div class="row mx-0" id="four-cards-container">
            <div class="col-md-3 col-12">
                <div class="card ticket-item-box" id="submit-tickets">
                    <div class="card-header">
                        <strong>Submit</strong> Tickets
                    </div>

                    <div class="container">
                        <div class="row justify-content-center my-4">
                            <a asp-controller="Tickets" asp-action="Create" class="btn btn-primary">Submit</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-12">
                <div class="card ticket-item-box" id="unresolved-tickets">
                    <div class="card-header">
                        <strong>Unresolved</strong> Tickets
                    </div>
                    <div class="container" id="index-page-unresolved-tickets">
                        <div class="row justify-content-center my-4">
                            <div class="stat-digit">
                                <i class="fa fa-ticket" aria-hidden="true"></i>
                                0
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-12">
                <div class="card ticket-item-box" id="tickets-in-progress">
                    <div class="card-header">
                        <strong>Tickets</strong> in progress
                    </div>
                    <div class="container">
                        <div class="row justify-content-center my-4">
                            <div class="stat-digit">
                                <i class="fa fa-ticket" aria-hidden="true"></i>
                                0
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-12">
                <div class="card ticket-item-box" id="my-tickets">
                    <div class="card-header">
                        <strong>My</strong> Tickets
                    </div>
                    <div class="container">
                        <div class="row justify-content-center my-4">
                            <a asp-controller="Tickets" asp-action="MyTickets" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--ENDING FOUR CARDS CONTAINER-->



    </div>
</div>
